[submodule "Dinghy.Bootstrapper/sokol"]
	path = Dinghy.Bootstrapper/libs/sokol
	url = https://github.com/floooh/sokol
[submodule "Dinghy.Bootstrapper/sokol_gp"]
	path = Dinghy.Bootstrapper/libs/sokol_gp
	url = https://github.com/edubart/sokol_gp
