[submodule "Dinghy.Bootstrapper/sokol"]
	path = Dinghy.Bootstrapper/libs/sokol/src/sokol
	url = https://github.com/floooh/sokol
[submodule "Dinghy.Bootstrapper/libs/stb/src/stb"]
	path = Dinghy.Bootstrapper/libs/stb/src/stb
	url = https://github.com/nothings/stb